# Maven Analytics Challenge May 2024
## UK National Rail

https://mavenanalytics.io/challenges/maven-rail-challenge/08941141-d23f-4cc9-93a3-4c25ed06e1c3

For the Maven Rail Challenge, you'll play the role of a BI Developer for National Rail, a company that provides business services to passenger train operators in England, Scotland, and Wales.

You've been asked by your manager to create an exploratory dashboard that helps them:

- Identify the most popular routes
- Determine peak travel times
- Analyze revenue from different ticket types & classes
- Diagnose on-time performance and contributing factors

In [7]:
import pandas as pd
import numpy as np

Import the two raw data files into dataframes

In [8]:
# read the railway.csv data from the data folder into a dataframe called df_railway
df_railway = pd.read_csv('../data/railway.csv')
df_railway.head()

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No

Inspect the data dictionary

In [9]:
# import railway_data_dictionary.csv from the data folder into a dataframe called df_data_dict
df_data_dict = pd.read_csv('../data/railway_data_dictionary.csv')

# display the full width of the dataframe
pd.set_option('display.max_colwidth', None)

# display the dataframe
df_data_dict

,Field,Description
0,Transaction ID,Unique identifier for an individual train ticket purchase
1,Date of Purchase,Date the ticket was purchased
2,Time of Purchase,Time the ticket was purchased
3,Purchase Type,Whether the ticket was purchased online or directly at a train station
4,Payment Method,"Payment method used to purchase the ticket (Contactles, Credit Card, or Debit Card)"
5,Railcard,"Whether the passenger is a National Railcard holder (Adult, Senior, or Disabled) or not (None). Railcard holders get 1/3 off their ticket purchases."
6,Ticket Class,Seat class for the ticket (Standard or First)
7,Ticket Type,When you bought or can use the ticket. Advance tickets are 1/2 off and must be purchased at least a day prior to departure. Off-Peak tickets are 1/4 off and must be used outside of peak hours (weekdays between 6-8am and 4-6pm). Anytime tickets are full price and can be bought and used at any time during the day.
8,Price,Final cost of the ticket
9,Departure Station,Station to board the train
10,Arrival Destination,Station to exit the train
11,Date of Journey,Date the train departed
12,Departure Time,Time the train departed
13,Arrival Time,Time the train was scheduled to arrive at its destination (can be on the day after departure)
14,Actual Arrival Time,Time the train arrived at its destination (can be on the day after departure)
15,Journey Status,"Whether the train was on time, delayed, or cancelled"
16,Reason for Delay,Reason for the delay or cancellation
17,Refund Request,Whether the passenger requested a refund after a delay or cancellation

Inspect the incidence of NaNs

In [10]:
# display the counts of NaN in the dataframe
nan_counts = df_railway.isnull().sum()
nan_counts[nan_counts > 0]

Railcard               20918
Actual Arrival Time     1880
Reason for Delay       27481
dtype: int64

In [11]:
df_railway['Railcard'].fillna('None').value_counts()

Railcard
None        20918
Adult        4846
Disabled     3089
Senior       2800
Name: count, dtype: int64

In [12]:
# fill the Railcard column with 'None' where there are NaN values
df_railway['Railcard'] = df_railway['Railcard'].fillna('None')
df_railway['Railcard'].value_counts()

Railcard
None        20918
Adult        4846
Disabled     3089
Senior       2800
Name: count, dtype: int64

In [13]:
df_railway['Reason for Delay'].fillna('n/a').value_counts()

Reason for Delay
n/a                   27481
Weather                 995
Technical Issue         707
Signal Failure          523
Signal failure          447
Staffing                410
Staff Shortage          399
Weather Conditions      377
Traffic                 314
Name: count, dtype: int64

In [14]:
# fill the Railcard column with 'None' where there are NaN values
df_railway['Reason for Delay'] = df_railway['Reason for Delay'].fillna('Not delayed')
df_railway['Reason for Delay'].value_counts()

Reason for Delay
Not delayed           27481
Weather                 995
Technical Issue         707
Signal Failure          523
Signal failure          447
Staffing                410
Staff Shortage          399
Weather Conditions      377
Traffic                 314
Name: count, dtype: int64

In [15]:
# display the counts of NaN in the dataframe
nan_counts = df_railway.isnull().sum()
nan_counts[nan_counts > 0]

Actual Arrival Time    1880
dtype: int64

In [16]:
# show a random sample of rows where the Actual Arrival Time is NaN
df_railway[df_railway['Actual Arrival Time'].isnull()].sample(5)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
18443,f6948b5f-d3d9-4df2-924b,2024-03-11,07:48:17,Online,Debit Card,Senior,Standard,Advance,8,London Paddington,Reading,2024-03-12,06:15:00,07:15:00,NaN,Cancelled,Technical Issue,Yes
19197,fe523d44-bcff-4e78-b5e9,2024-03-14,03:28:33,Online,Contactless,None,Standard,Advance,8,York,Durham,2024-03-15,01:45:00,02:35:00,NaN,Cancelled,Weather,Yes
21965,096d0f88-5fb0-4265-b5bc,2024-03-24,11:55:31,Online,Credit Card,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-03-24,13:15:00,14:35:00,NaN,Cancelled,Signal failure,No
7951,ba49cd0d-c9af-4123-b4f3,2024-01-30,07:29:31,Online,Credit Card,None,Standard,Anytime,35,London Paddington,Oxford,2024-01-30,07:45:00,09:15:00,NaN,Cancelled,Traffic,No
30829,4cf0a286-c0a5-4ff7-82f9,2024-04-27,11:10:26,Station,Contactless,None,Standard,Off-Peak,10,London Euston,Birmingham New Street,2024-04-27,12:30:00,13:50:00,NaN,Cancelled,Signal Failure,No

In [17]:
# show the value counts of Journey Status for rows where Actual Arrival Time is NaN
df_railway[df_railway['Actual Arrival Time'].isnull()]['Journey Status'].value_counts()

Journey Status
Cancelled    1880
Name: count, dtype: int64

In [18]:
# show any rows where the Date of Journey is before the Date of Purchase
df_railway[df_railway['Date of Journey'] < df_railway['Date of Purchase']]

Empty DataFrame
Columns: [Transaction ID, Date of Purchase, Time of Purchase, Purchase Type, Payment Method, Railcard, Ticket Class, Ticket Type, Price, Departure Station, Arrival Destination, Date of Journey, Departure Time, Arrival Time, Actual Arrival Time, Journey Status, Reason for Delay, Refund Request]
Index: []

In [19]:
# show any rows where the Departure Station is the same as the Arrival Destination
df_railway[df_railway['Departure Station'] == df_railway['Arrival Destination']]

Empty DataFrame
Columns: [Transaction ID, Date of Purchase, Time of Purchase, Purchase Type, Payment Method, Railcard, Ticket Class, Ticket Type, Price, Departure Station, Arrival Destination, Date of Journey, Departure Time, Arrival Time, Actual Arrival Time, Journey Status, Reason for Delay, Refund Request]
Index: []

In [20]:
# create a 'Route' column that combines the Departure Station and Arrival Destination, separated with a dash
df_railway['Route'] = df_railway['Departure Station'] + ' - ' + df_railway['Arrival Destination']
df_railway['Route'].head()

0        London Paddington - Liverpool Lime Street
1                        London Kings Cross - York
2    Liverpool Lime Street - Manchester Piccadilly
3                      London Paddington - Reading
4            Liverpool Lime Street - London Euston
Name: Route, dtype: object

In [21]:
# set the notebook to display all rows of the dataframe
pd.set_option('display.max_rows', None)

# produce descriptive statistics of Price for each Route. Show all rows. 
route_prices_stats = df_railway.groupby('Route')['Price'].describe()
route_prices_stats

,count,mean,std,min,25%,50%,75%,max
Route,,,,,,,,
Birmingham New Street - Coventry,65.0,4.138462,1.210332,3.0,3.0,4.0,5.00,8.0
Birmingham New Street - Edinburgh,16.0,49.875000,25.120709,36.0,36.0,36.0,54.00,111.0
Birmingham New Street - Liverpool Lime Street,175.0,10.228571,13.787563,4.0,4.0,6.0,8.00,77.0
Birmingham New Street - London Euston,125.0,28.752000,15.520879,14.0,21.0,21.0,31.00,109.0
Birmingham New Street - London Kings Cross,17.0,31.470588,23.076280,15.0,15.0,29.0,29.00,78.0
Birmingham New Street - London Paddington,32.0,22.437500,16.453135,13.0,13.0,13.0,25.00,78.0
Birmingham New Street - London St Pancras,702.0,27.081197,15.793079,15.0,15.0,22.0,29.00,117.0
Birmingham New Street - Manchester Piccadilly,224.0,11.191964,5.149228,7.0,7.0,11.0,15.00,38.0
Birmingham New Street - Nuneaton,219.0,9.972603,4.271645,7.0,7.0,7.0,13.00,28.0
Birmingham New Street - Reading,47.0,47.063830,9.025096,33.0,42.0,50.0,50.00,63.0
Birmingham New Street - Stafford,190.0,7.184211,2.328286,5.0,5.0,7.0,10.00,14.0
Birmingham New Street - Tamworth,227.0,7.603524,3.081717,5.0,5.0,8.0,10.00,21.0
Birmingham New Street - Wolverhampton,32.0,1.875000,1.431219,1.0,1.0,1.5,2.00,8.0
Birmingham New Street - York,65.0,20.723077,10.863511,13.0,13.0,13.0,26.00,65.0
Bristol Temple Meads - Cardiff Central,16.0,6.125000,1.627882,5.0,5.0,5.0,7.00,9.0
Edinburgh Waverley - London Kings Cross,51.0,41.039216,16.770165,29.0,29.0,43.0,43.00,96.0
Liverpool Lime Street - Birmingham New Street,14.0,31.142857,6.490907,23.0,23.0,35.0,35.00,41.0
Liverpool Lime Street - Crewe,193.0,8.098446,2.242034,6.0,6.0,8.0,11.00,11.0
Liverpool Lime Street - Leeds,96.0,12.135417,5.302670,7.0,7.0,10.0,15.00,30.0
Liverpool Lime Street - London Euston,1097.0,103.280766,39.262377,50.0,76.0,76.0,151.00,235.0
Liverpool Lime Street - London Paddington,27.0,99.962963,51.704398,51.0,77.0,77.0,117.50,238.0
Liverpool Lime Street - London St Pancras,31.0,104.774194,30.331183,77.0,77.0,116.0,119.00,154.0
Liverpool Lime Street - Manchester Piccadilly,3002.0,3.980680,2.541549,2.0,3.0,3.0,5.00,20.0
Liverpool Lime Street - Sheffield,101.0,9.049505,3.017868,6.0,6.0,9.0,11.00,19.0
London Euston - Birmingham New Street,4209.0,11.962224,15.244716,4.0,7.0,7.0,10.00,104.0
London Euston - Manchester Piccadilly,712.0,85.679775,33.588077,48.0,71.0,72.0,107.00,216.0
London Euston - Oxford,16.0,2.562500,0.512348,2.0,2.0,3.0,3.00,3.0
London Euston - York,17.0,38.294118,5.335784,37.0,37.0,37.0,37.00,59.0
London Kings Cross - Edinburgh Waverley,163.0,37.325153,14.727518,24.0,24.0,36.0,48.00,96.0
London Kings Cross - Liverpool Lime Street,144.0,72.034722,26.749920,43.0,65.0,65.0,88.75,211.0
London Kings Cross - York,3922.0,46.709077,17.034755,23.0,35.0,35.0,53.00,114.0
London Paddington - Liverpool Lime Street,44.0,55.772727,13.787193,43.0,43.0,65.0,65.00,106.0
London Paddington - London Waterloo,68.0,5.044118,2.061979,3.0,3.0,5.0,6.00,11.0
London Paddington - Manchester Piccadilly,30.0,93.933333,20.941517,73.0,73.0,110.0,110.00,146.0
London Paddington - Oxford,485.0,26.513402,9.652769,18.0,18.0,26.0,35.00,63.0
London Paddington - Reading,3873.0,16.877872,7.722981,8.0,13.0,13.0,19.00,54.0
London St Pancras - Birmingham New Street,3471.0,15.231634,17.799538,5.0,8.0,8.0,12.00,107.0
London St Pancras - Leicester,337.0,21.821958,6.901371,16.0,16.0,16.0,31.00,39.0
London St Pancras - Wolverhampton,83.0,32.939759,12.121689,21.0,21.0,32.0,43.00,71.0
Manchester Piccadilly - Leeds,142.0,10.359155,4.722575,6.0,6.0,10.0,10.00,29.0
Manchester Piccadilly - Liverpool Lime Street,4628.0,3.740277,2.634078,2.0,2.0,3.0,4.00,19.0
Manchester Piccadilly - London Euston,345.0,98.144928,38.862861,56.0,84.0,84.0,126.00,267.0
Manchester Piccadilly - London Kings Cross,16.0,90.250000,34.200390,57.0,57.0,88.0,114.00,180.0
Manchester Piccadilly - London Paddington,144.0,114.111111,31.633856,86.0,86.0,128.0,128.00,203.0
Manchester Piccadilly - London St Pancras,16.0,99.562500,20.838966,86.0,86.0,86.0,128.00,135.0
Manchester Piccadilly - Nottingham,158.0,13.974684,2.759926,8.0,12.0,12.0,17.00,17.0
Manchester Piccadilly - Sheffield,171.0,4.274854,1.634341,2.0,4.0,4.0,5.00,11.0
Manchester Piccadilly - Warrington,15.0,3.533333,1.060099,2.0,2.5,4.0,4.00,5.0
Manchester Piccadilly - York,15.0,14.133333,4.206571,10.0,10.0,15.0,15.00,21.0
Oxford - Bristol Temple Meads,144.0,19.854167,12.635818,11.0,11.0,17.0,23.00,102.0
Reading - Birmingham New Street,32.0,49.281250,17.765923,33.0,33.0,41.5,66.00,94.0
Reading - Didcot,48.0,4.416667,2.413026,3.0,3.0,4.0,5.00,13.0
Reading - Liverpool Lime Street,16.0,94.125000,63.350743,54.0,54.0,54.0,110.50,242.0
Reading - London Paddington,148.0,16.324324,3.851347,13.0,13.0,13.0,19.00,25.0
Reading - Oxford,122.0,7.114754,2.385205,4.0,6.0,6.0,8.00,17.0
Reading - Swindon,228.0,15.561404,10.170819,9.0,9.0,14.0,18.00,59.0
York - Birmingham New Street,16.0,51.187500,11.685996,39.0,39.0,59.0,59.00,74.0
York - Doncaster,211.0,6.213270,2.832972,4.0,4.0,6.0,7.00,22.0
York - Durham,258.0,7.686047,2.356851,5.0,5.0,8.0,8.00,15.0
York - Edinburgh,138.0,26.927536,9.401536,16.0,18.0,24.0,35.00,54.0
York - Edinburgh Waverley,15.0,26.933333,5.035115,24.0,24.0,24.0,29.50,35.0
York - Leeds,17.0,4.588235,1.905873,3.0,3.0,5.0,6.00,10.0
York - Liverpool Lime Street,15.0,21.533333,7.434155,15.0,15.0,15.0,30.00,30.0
York - Peterborough,242.0,44.479339,17.248296,22.0,34.0,34.0,50.00,93.0
York - Wakefield,15.0,9.866667,3.681356,7.0,7.0,7.0,14.00,17.0

In [22]:
# show the value counts of refund request
df_railway['Refund Request'].value_counts()

Refund Request
No     30535
Yes     1118
Name: count, dtype: int64

In [24]:
# count the number of rows per transaction id, then show the first 5 rows of transactions that had more than one row
transaction_counts = df_railway['Transaction ID'].value_counts()
transaction_counts[transaction_counts > 1]

Series([], Name: count, dtype: int64)

In [23]:
# write df_railway to a new csv file called railway_cleaned.csv in the data folder
df_railway.to_csv('../data/railway_cleaned.csv', index=False)